
.Program_Specification {
  border: 2px solid #000000;
  padding: 2px 5px;
  margin: 10px;
}

#Table_Container{
  border: 5px solid #000000;
  padding: none;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 96%;
  padding: 2px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

th, td {
  border: 3px solid #Dadada;
  text-align: justify;
  padding: 4px;
}

th.Col_1{
  width: 20%;
}

th.Col_2{
  width: 35%;
}

th.Col_3{
  width: 35%;
}

th.Col_4{
  width: 10%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #f2f2f2;
}

input {
  width: 100%;
}

.edit-mode input {
  display: block;
  border: 1px solid #000000;
  margin: 0 auto;
  width: 90%;
  
}

.New_Exercise{  
  outline: none;  
  background: none;  
  border: none;  
  padding: 5px 10px;
  margin: 2px;  
  cursor: pointer;  
  background: #2cdd85;  
  color: #ffffff;  
  width: 140px;
  height: 25px;
  &:hover {  
      background: darken(#2cdd85, 10%);  
  }  

}

.edit {  
  outline: none;  
  background: none;  
  border: none;  
  padding: 5px 10px;  
  cursor: pointer;  
  background: #2199e8;  
  color: #ffffff;  
  width: 60px;
  height: 25px;
  &:hover {  
      background: darken(#2199e8, 10%);  
  }  
}  

.save {  
  outline: none;  
  background: none;  
  border: none;  
  padding: 5px 10px;  
  cursor: pointer;  
  display: none;  
  background: #32AD60;  
  color: #ffffff;  
  width: 60px;
  height: 25px;
  &:hover {  
      background: darken(#32AD60, 10%);  
  }  
  
}  

.delete {  
  outline: none;  
  background: none;  
  border: none;  
  padding: 5px 10px;  
  cursor: pointer;  
  display: none;  
  background: #EC5840;
  width: 60px;
  height: 25px;  
  color: #ffffff;  
      &:hover {  
      background: darken(#EC5840, 10%);  
  }  
}  

.New_Day {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  background: #2cdd85;
  color: #ffffff;
  width: 140px;
  height: 25px;
}

.Delete_Day {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  background: #e62100;
  color: #ffffff;
  width: 140px;
  height: 25px;
}